h1{
    border:solid red 2px;
    background-color: #6A6;
    padding: 10px;
}

ul{
    margin: 15px;
    background-color: #DE1E7E;
}

p{
    width: 500px;
    height: 300px;
    border: 2px black;
    background-color: #FB1;
}

a{
    border: dashed blue;
    background-color: #a1a1a1;
}

